body {
    margin: 0;
}

@font-face {
    font-family: 'Cursed Timer';
    src: url('fonts/CursedTimerUlil-Aznm.ttf') format('truetype');

    src: url('fonts/CursedTimerUlil-Aznm.ttf') format('woff2'),
         url('fonts/CursedTimerUlil-Aznm.ttf') format('woff'),
         url('fonts/CursedTimerUlil-Aznm.ttf') format('truetype');
}

.container {
    display: flex;
    justify-content: center;
    
    border: 5px solid whitesmoke;
    border-radius: 18px;
    height: 100vh;
    background-color: #1B244A;
}

.main {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

h3 {
    margin-bottom: -80px;
    margin-top: 25px;
    color: #EEEEEE;
    font-size: 45px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: #F94F6D;
    font-size: 90px;
    font-family: 'Cursed Timer', monospace;
    padding-top: 14px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #9AABD8;
    background-color: #1B244A;
    color: #9AABD8;
    font-weight: bold;
    font-family: 'Cursed Timer', monospace;
    margin-left: 2.5px;
    margin-right: 2.5px;
    margin-top: 25px;
}

.score-card {
    background-color: #080001;
    border-radius: 5px;
    width: 155px;
    height: 120px;
    
}